.accordion {
    &__section {
        border-bottom: 1px solid $border;
        
        &:first-child {
            border-top: 1px solid $border;
        }
    }
    
    &__title {
        position: relative;
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 8px;
        font-size: 17px;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.2s;
        
        &-name {
            display: flex;
            align-items: center;
            
            &:after {
                content: '';
                display: block;
                width: 12px;
                height: 8px;
                margin-left: 10px;
                background-image: $arrowBg;
                background-size: 12px 8px;
                transition: all 0.2s;
            }
        }
    
        &.active {
            color: $red;
        
            .accordion__title-name {
                &:after {
                    transform: rotate(180deg);
                }
            }
        }
    }
    
    &__content {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all 0.15s;
        border-top: 1px solid transparent;
        
        &.active {
            border-color: $border;
            max-height: 3000px;
            opacity: 1;
            transition: max-height 0.8s, opacity 0.2s;
        }
    }
}