@mixin visually-hidden() {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    bottom: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@mixin fullLink() {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
    overflow: hidden;
    text-indent: -999em;
}

@mixin inner($width: 1560px) {
    position: relative;
    max-width: $width;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    
    @media only screen and (max-width: 1024px) {
        padding-left: 25px;
        padding-right: 25px;
    }
    
}

@mixin child($n, $t) {
    &:nth-child(#{$n}) {
        z-index: ($t - $n) + 1;
    }
}

@mixin section-scroll() {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 1000px);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

@mixin section-scroll-content() {
    position: relative;
    width: calc(100% - 1000px);
}

@mixin accordion-content() {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.15s;
    
    &.active {
        max-height: 3000px;
        opacity: 1;
        transition: max-height 0.8s, opacity 0.2s;
    }
}

@mixin accordion-trigger() {
    display: flex;
    align-items: center;
    
    &:after {
        content: '';
        display: block;
        width: 12px;
        height: 8px;
        margin-left: 10px;
        background-image: $arrowBg;
        background-size: 12px 8px;
        transition: all 0.2s;
    }
    
    &.active {
        color: $red;
        
        &:after {
            transform: rotate(180deg);
        }
    }
}

@mixin sectionTitle {
    margin-bottom: 29px;
    font-size: 44px;
    line-height: 1.05em;
    
    @media only screen and (max-width: 1024px) {
    
    }
    
    @media only screen and (max-width: 680px) {
    
    }
}

@mixin pageTitle($margin: 45px) {
    margin-bottom: $margin;
    font-size: 30px;
    line-height: 1.3em;
    
    @media only screen and (max-width: 1024px) {
        font-size: 20px;
    }
    
    @media only screen and (max-width: 680px) {
    
    }
}

@mixin centeredButton() {
    width: 100%;
    margin-top: 25px;
    text-align: center;
    clear: both;
    
    [class*="butn"] {
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    @media only screen and (max-width: 680px) {
    
    }
}

@mixin buttonHeight($height) {
    height: $height;
    border-radius: ceil($height / 2);
}