// Titles
.page-title {
    max-width: 625px;
    color: $theme;
    @include pageTitle();
    
    &__trigger {
        display: inline-block;
        color: $lightColor;
        text-decoration: underline;
        cursor: pointer;
        transition: all 0.2s;
        
        &:hover {
            text-decoration: none;
            color: $theme;
        }
    }
}
// Links
a {
    color: $theme;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    
    &.mail-to,
    &.call-to,
    &.mail-to:hover,
    &.call-to:hover {
        white-space: nowrap;
        cursor: default;
        color: inherit;
        text-decoration: none;
    }
}

// Main
.main {
    &__inner {
        @include inner;
    }
}

// Icons
#ui-icons,
.ui-icons {
    display: none;
}

// Hidden elements
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    bottom: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}