//noinspection ALL
@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'),
    url('../fonts/Helvetica.woff2') format('woff2'),
    url('../fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//variables
$mainFont: 'Helvetica', Arial, Helvetica, sans-serif;
$lightColor: #494949;
$theme: #00fc43;

$red: #ec0001;
$black: #000000;
$white: #ffffff;
$placeholder: #494949;

$inputBg: #e5e5e5;
$border: #292622;
$grayBg: #1b1b1b;

$facebook: #3a5997;
$twitter: #30acee;
$telegram: #30acee;
$vk: #45668e;
$ok: #f68620;
$viber: #79489c;
$facetime: #46b96d;
$skype: #1eabe2;
$whatsapp: #50b948;
$excel: #267248;
$google: #d8634f;

$shadow: 0 2px 10px rgba(35, 35, 35, 0.25);

$check: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAFM0aXcAAAAAXNSR0IArs4c6QAAATtJREFUKBWFUsFKw0AQHUsPehX8Dv0C0ZveerH1oIiHQimKKEihFP0SP6CgZ7/AmzcPetAfMDVtNjYla8i4M+tuuru0BjIzb/bNm5lNABGb6kUgk1we4wojAKiNWzvKAdgMI2VqJjDeZ7RYjYTE7Tk5LT9uNxiQ8UvCLkbceNs1f7znXDrogrg+Nedgm5K+6HfIOQ8ReFknW4EmDfWp9DYqTRtFwcT2SAV2OJuUORQvzxpSi3IS604yx9HeJuIsY1wnShmPYHK4y+z1hyeA1bWqkmjF+yuW30Ir/Nl/B4q0RmB5lUV7BmwvsfwePHIAw3vyKT8S0n4Hvva3IL05c0/n1096bb7HbHiHKCWKQZdxcnWCmE3nqRw7fwdlio83jA+2ddHFEZbTNCgyiaVX7c4YItp50acI2W4m+gVRLlRa0aFaCAAAAABJRU5ErkJggg==');
$arrowBg: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAATCAYAAABobNZCAAAB+klEQVRIiaXVT4hNYRjH8c+9ZKWkmEmG5i6ocZRy7YSoQSaRsLGZhQ0LhZI/KQtqhoUF2ZMVFtLEMDT+FU2dou6VhTpSUkhMxpRmYnHures6595z7zyb03l/z/t83+d9z/m9uVL3ajVxEnMrz0wRRGGmvHKhOA83cSSIwhLkK1oOp3EOJ3A8KzwjuANP0It75UKxUIXncRlnavLP4lTN4mYCXohhrKoMdeFZuVDsmY3zOFg3Z1ZlAVMYnAG4E0+xvE5ajBvVrt+kzB/AUW3sQLlQXIKHCWD4hcE83mMzSil1LuBQi+D5eISVKSn7gii8Xu3oIzbgbUJiDhdxOCO4G8+xLEGewJ4gCm/z73Z+wxa8Sqk7gANNwAswhBUJ8jT6gyi8VR2oP8sP2Ih3CZPn4EraAipnPIYgQZ7CjlpwEhy+Yx3S3OMS9ouPowruEv9OhYT8SezF3XohV+dwtdGBx+hJ0P6gH9fQKe54aUqdviAK/wPT+Bf6jLV4naDlcBXHMJICHse2NDCNO6/GItzBmmaJNTGNnUEUDjVKymIen7Be8g4kxU9xxw3BWeHEH00vXjbJm8LuIAofZCnaim1+wVbpPjAp7vh+1oKtevYPsROO1Y1PYFcQhSOtFGvnyhxHH15U3n9jexCFw60Wave+/opNGBU712g7Rf4CsNKDY+k/gLgAAAAASUVORK5CYII=');
$calendar: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAAElPG78AAAAAXNSR0IArs4c6QAAAXJJREFUOBGtVLFKA0EQndlckdaYzxCyhVrbKHexUrCwstVCSBPERhGsrEQQ/QMrK5W02moRLQIW1mKRi0UKRciMM6sLe3cQT/HgbmZn3pudN7scwPeD/bjBCNgzgPDCADUcNG2biA+MfHbQYMsA4JAJthzYM51VdiaQxnYlDBQo6LNCXQLEbb92tp/YW6HYZx8VeB0HSeOIGDZ9MG8jTVbQzOUTuh4xnUKhzwCpe4rEEk++ik7KCy4IDesh4uHYLZi5FQnjUVSsh0zvi4prOSIcErKVRY2Yjyc63RvxL9U6oErxjLzV5sf2oIQfASh6P+TI+/nyfu3Od7A4PcU0WmamPWn6xBhz5gGhJaJVYN5ANLsQ0fnkxUNPB/kmoGoI/IX/rhr+StZ9qnoQcuXxrt65n3V+yY8bP/NMZopym9fSxHbTpp3XOuJf6et8iWlOMeEeX5fpvzoIK5f1MxLKkkJchJVKzET7MpSnMFHCf5W/zsInMt2b1wp5pu8AAAAASUVORK5CYII=');