//noinspection ALL
@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'),
    url('../fonts/Helvetica.woff2') format('woff2'),
    url('../fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//variables
$mainFont: 'Helvetica', Arial, Helvetica, sans-serif;
$lightColor: #494949;
$theme: #00fc43;

$red: #ec0001;
$black: #000000;
$white: #ffffff;
$placeholder: #494949;

$inputBg: #e5e5e5;
$border: #292622;
$grayBg: #1b1b1b;

$facebook: #3a5997;
$twitter: #30acee;
$telegram: #30acee;
$vk: #45668e;
$ok: #f68620;
$viber: #79489c;
$facetime: #46b96d;
$skype: #1eabe2;
$whatsapp: #50b948;
$excel: #267248;
$google: #d8634f;

$shadow: 0 2px 10px rgba(35, 35, 35, 0.25);