<header class="header">
    
    
    
    <div class="header__mobile">
        <nav class="header__mobile-scroll">
            <div class="header__mobile-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto assumenda deserunt, eos esse est eveniet fugiat illo inventore iure iusto magnam minima nemo nesciunt numquam officia pariatur possimus ut?
            </div>
        </nav>
    </div>
    
    <div class="header__mobile-close"></div>
    <button class="header__mobile-button" type="button">Menu</button>
</header>