@font-face {
  font-family: 'Helvetica';
  src: local("Helvetica"), url("../fonts/Helvetica.woff2") format("woff2"), url("../fonts/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@keyframes claw {
  0% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(0.6); } }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {
  vertical-align: baseline;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-variant: inherit;
  font-style: inherit;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* HTML5 display-role reset for older browsers */
article, address, aside, details, figcaption, figure,
footer, header, menu, nav, section, label, small, time, img {
  display: block; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
  color: #ffffff;
  background: #000000; }
  body.modal-open {
    overflow: hidden; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ''; }

mark {
  background: none;
  color: inherit; }

table {
  width: 100%;
  border-collapse: collapse;
  border: 0; }

img {
  max-width: 100%;
  height: auto; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

svg {
  display: block;
  transition: fill 0.2s; }

.page-title {
  max-width: 625px;
  color: #00fc43;
  margin-bottom: 45px;
  font-size: 30px;
  line-height: 1.3em; }
  .page-title__subtitle {
    display: block;
    color: #494949; }
  .page-title__trigger {
    position: relative;
    display: inline-block;
    max-width: 400px;
    color: #494949;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s; }
    .page-title__trigger:before {
      position: absolute;
      content: '';
      left: 0;
      bottom: -2px;
      display: block;
      width: 100%;
      height: 2px;
      transition: all 0.2s;
      background-color: #494949; }
    .page-title__trigger:hover {
      text-decoration: none;
      color: #00fc43; }
      .page-title__trigger:hover:before {
        opacity: 0; }

.section-title {
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 1.3em; }

a {
  color: #00fc43;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  a:hover {
    cursor: pointer;
    text-decoration: underline; }
  a.mail-to, a.call-to, a.mail-to:hover, a.call-to:hover {
    white-space: nowrap;
    cursor: default;
    color: inherit;
    text-decoration: none; }

.main {
  min-height: calc(100vh - 273px); }
  .main__inner {
    position: relative;
    max-width: 1560px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; }
  .main__tabs-content:not(.active), .main__content:not(.active) {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    bottom: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; }
  .main__tabs-content.active, .main__content.active {
    opacity: 1;
    transition: opacity 0.35s; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  bottom: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.header {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  z-index: 60;
  min-width: 320px; }
  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 84px;
    position: relative;
    max-width: 1560px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto; }
  .header__logo {
    display: flex;
    align-items: flex-start; }
    .header__logo-icon {
      margin-right: 8px; }
      .header__logo-icon svg {
        width: 25px;
        height: 18px;
        fill: #ffffff; }
      .header__logo-icon .claw {
        animation: claw 0.6s linear alternate infinite;
        transform-origin: bottom right; }
  .header__contacts-trigger {
    position: relative;
    top: -2px;
    display: none;
    cursor: pointer; }
    .header__contacts-trigger svg {
      width: 15px;
      height: 15px;
      fill: #494949; }
  .header__contacts-list {
    display: flex;
    align-items: center;
    background-color: #000000; }
  .header__contacts-item {
    font-size: 22px;
    color: #494949; }
    .header__contacts-item:not(:first-child) {
      margin-left: 20px; }
  .header__contacts-link {
    position: relative;
    color: #494949; }
    .header__contacts-link:before {
      position: absolute;
      content: '';
      left: 0;
      bottom: -2px;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #494949;
      transition: all 0.2s; }
    .header__contacts-link:hover {
      color: #ffffff;
      text-decoration: none; }
      .header__contacts-link:hover:before {
        opacity: 0; }
    .header__contacts-link_tel {
      color: #ffffff; }
      .header__contacts-link_tel:hover {
        text-decoration: none; }

.nav {
  padding-top: 42px;
  margin-bottom: 48px;
  font-size: 22px; }
  .nav__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .nav__list:not(.active) {
      opacity: 0;
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      bottom: 0;
      clip: rect(0 0 0 0);
      overflow: hidden; }
    .nav__list.active {
      opacity: 1;
      transition: opacity 0.35s; }
  .nav__item {
    margin-top: 6px; }
    .nav__item:not(:first-child) {
      margin-left: 20px; }
  .nav__link {
    position: relative;
    color: #494949;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s; }
    .nav__link:before {
      position: absolute;
      content: '';
      left: 0;
      bottom: -2px;
      display: block;
      width: 100%;
      height: 2px;
      transition: all 0.2s;
      background-color: #494949; }
    .nav__link.active, .nav__link.current, .nav__link:hover {
      text-decoration: none;
      color: #00fc43; }
      .nav__link.active:before, .nav__link.current:before, .nav__link:hover:before {
        opacity: 0; }
    .nav__link.current {
      pointer-events: none; }

.columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 15px;
  margin-bottom: 55px;
  font-size: 18px;
  line-height: 1.7em;
  color: #494949; }
  .columns__name {
    color: #ffffff;
    min-height: 30px; }
  .columns__text {
    margin-bottom: 15px; }

.team {
  margin-bottom: 50px; }
  .team__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px; }
  .team__item {
    position: relative;
    min-height: 490px;
    background-color: #1b1b1b; }
    .team__item:hover .team__image {
      opacity: 0.05; }
  .team__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    transition: all 0.3s; }
  .team__text {
    position: relative;
    z-index: 2;
    max-width: 400px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 1.3em; }
  .team__name {
    color: #00fc43; }

.case__promo {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px; }
  .case__promo-column {
    width: calc(50% - 15px); }

.case__section {
  margin-bottom: 45px;
  font-size: 30px;
  line-height: 1.3em; }

.case__gallery {
  margin-bottom: 60px; }
  .case__gallery-item {
    margin-bottom: 30px; }
    .case__gallery-item img {
      width: 100%;
      height: auto; }

.portfolio {
  margin-bottom: 50px; }
  .portfolio__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px; }
  .portfolio__item {
    position: relative;
    background-color: #1b1b1b; }
    .portfolio__item:hover .portfolio__text {
      opacity: 1; }
  .portfolio__image {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: auto; }
  .portfolio__text {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    color: #494949;
    background-color: #1b1b1b;
    opacity: 0;
    transition: all 0.3s;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 1.3em; }
  .portfolio__name {
    color: #ffffff; }
  .portfolio__link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
    overflow: hidden;
    text-indent: -999em; }

.footer {
  position: relative;
  z-index: 50;
  padding-top: 86px;
  font-size: 22px;
  overflow: hidden;
  position: relative;
  max-width: 1560px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto; }
  .footer__inner {
    padding-top: 27px;
    padding-bottom: 50px;
    border-top: 1px solid #292622; }
  @media only screen and (max-width: 1024px) {
    .page-title {
      font-size: 20px; }
    .section-title {
      font-size: 20px; }
      .main__inner {
        padding-left: 25px;
        padding-right: 25px; }
      .header__inner {
        padding-left: 25px;
        padding-right: 25px; }
    .header__contacts-item {
      font-size: 20px; }
    .nav {
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 20px; }
    .columns {
      grid-template-columns: repeat(3, 1fr); }
      .team__text {
        font-size: 20px; }
    .team__item {
      min-height: 300px; }
    .case__section {
      font-size: 20px; }
      .portfolio__text {
        font-size: 20px; }
    .footer {
      padding-left: 25px;
      padding-right: 25px; }
    .footer {
      padding-top: 50px;
      font-size: 20px; } }
  @media only screen and (max-width: 768px) {
    .header__logo-icon {
      margin-right: 7px; }
      .header__logo-icon svg {
        width: 19px;
        height: 14px; }
    .header__logo-name {
      width: 106px;
      height: 17px; }
    .header__contacts-trigger {
      display: block; }
    .header__contacts-list {
      position: absolute;
      top: 100%;
      left: 0;
      display: block;
      width: 100%;
      padding-right: 25px;
      padding-bottom: 25px;
      padding-left: 25px; }
      .header__contacts-list:not(.active) {
        opacity: 0;
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        bottom: 0;
        clip: rect(0 0 0 0);
        overflow: hidden; }
      .header__contacts-list.active {
        opacity: 1;
        transition: opacity 0.35s; }
    .header__contacts-item:not(:first-child) {
      margin-top: 20px;
      margin-left: 0; }
    .columns {
      grid-template-columns: repeat(2, 1fr);
      font-size: 16px;
      line-height: 1.5em; }
    .team__list {
      grid-template-columns: 1fr; }
  .case__promo-column {
    width: 100%; }
    .portfolio__list {
      grid-template-columns: 1fr; } }
  @media only screen and (max-width: 480px) {
    .nav__list {
      display: block; }
    .nav__item {
      margin-left: 24px; }
      .nav__item:not(:first-child) {
        margin-left: 24px; }
    .columns {
      grid-template-columns: 1fr; }
    .team__item {
      min-height: 180px; } }

/*# sourceMappingURL=style.css.map */
